@font-face { 
	font-family: 'lato-zlm-extended';
	src: url('../font/lato-zlm-extended.otf');
	font-weight: 600;
}

@font-face { 
	font-family: 'lato-zlm-extended';
	src: url('../font/lato-light-zlm-extended.otf');
	font-weight: 400;
}