<nav>
	<div class="container">
		<a {% if page.url == "/" %}class="current" {% endif %}href="/" >Home</a>
		<a {% if page.url == "/write-up/" %}class="current" {% endif %}href="/write-up/" >Write-Up</a>
		<a {% if page.url == "/unicode/" %}class="current" {% endif %}href="/unicode/">Unicode</a>
		<a {% if page.url == "/fonts/" %}class="current" {% endif %}href="/fonts/">Fonts</a>
		<a {% if page.url == "/examiner/" %}class="current" {% endif %}href="/examiner/">Examiner</a>
		<a {% if page.url == "/ime/" %}class="current" {% endif %}href="/ime/">IME</a>
		{{ page.nav }}
	</div>
</nav>